.Sidebar {
    height: 100vh;
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s ease-in-out;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}


.switchers {
    position: absolute;
    bottom: 70px;
    display: flex;
    justify-content: center;
    width: 100%;
}